
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static '/home/css/students_attendence.css' %}" type="text/css">

<!------ Include the above in your HEAD tag ---------->
{% comment %} <a class="navbar-brand" href="{% url 'home'%}">Home</a> {% endcomment %}


<style>
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}
	
	li {
	  float: left;
	}
	
	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
	
	li a:hover {
	  background-color: #111;
	}
	</style>




<ul>
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li>
        <a class="nav-link active" href="{% url 'logout' %}" style="margin-left: 1080px;">Logout</a>
    </li>

    {% comment %} <li><a href="{% url 'home' %}">Back</a></li> {% endcomment %}
  </ul>
  

<div class="container">
	<div class="row">
		<section class="content">
			<h1>Student attendence</h1>
            <div class="container">
                <div class="row">
                    <div id="filter-panel" class="filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label class="filter-col" style="margin-right:0;" for="pref-orderby">Subject:</label>
                                        <select id="pref-orderby" class="form-control" name='subject'>
                                            <option>--select--</option>
                                            <option value='science'>Science</option>
                                            <option value='BEEE'>BEEE</option>
                                            <option value='M2'>M2</option>
                                            <option value='M!'>M1</option>
                                        </select>                                
                                    </div>
									<div class="form-group">
                                        <label class="filter-col" style="margin-right:0;" for="pref-orderby">Sem:</label>
                                        <select id="pref-orderby" class="form-control" name='sem'>
                                            <option>--select--</option>
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
											<option value=5>5</option>
                                            <option value=6>6</option>
                                            <option value=7>7</option>
                                            <option value=8>8s</option>
                                        </select>                                
                                    </div>
									<div class="form-group">
                                        <label class="filter-col" style="margin-right:0;" for="pref-orderby">Branch:</label>
                                        <select id="pref-orderby" class="form-control">
                                            <option>--select--</option>
                                            <option value='E & C'>E & C</option>
                                            <option value='MECHANICAL'>MECHANICAL</option>
                                            <option value='COMPUTER SCIENCE'>COMPUTER SCIENCE</option>
                                            <option>M2</option>
                                        </select>                                
                                    </div>
									<div class="form-group">
                                        <label class="filter-col" style="margin-right:0;" for="pref-orderby">Division:</label>
                                        <select id="pref-orderby" class="form-control">
                                            <option>--select--</option>
                                            <option>Science</option>
                                            <option>BEEE</option>
                                            <option>M2</option>
                                            <option>M2</option>
                                        </select>                                
                                    </div> <!-- form group [order by] --> 
                                    <div class="form-group">    
                                        <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                            <label for="birthday">Date:</label>
                                            <input type="date" id="birthday" name="birthday">
                                            <label for="birthday">Start time:</label>
                                            <input type="time" id="birthday" name="birthday">
                                            <label for="birthday">End time:</label>
                                            <input type="time" id="birthday" name="birthday">
                                        </div>
                                        <button type="submit" class="btn btn-default filter-col">
                                            <span class="glyphicon glyphicon-record"></span> Proceed to take attendence
                                        </button>  
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>


                                    
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div>